$db = parse_url(getenv('DATABASE_URL'));
?>

[database]
host = "<?php echo @$db['host']; ?>"
username = "<?php echo @$db['user']; ?>"
password = "<?php echo @$db['pass']; ?>"
dbname = "<?php echo trim(@$db['path'], '/'); ?>"
port = <?php echo @$db['port'].PHP_EOL; ?>

[General]
assume_secure_protocol = 1
proxy_client_headers[] = HTTP_X_FORWARDED_FOR
force_ssl = 1
always_load_commands_from_plugin=DbCommands,AdminCommands,LicenseKeyCommands
enable_trusted_host_check = 0
<?php if (getenv('MATOMO_MAINTENANCE') == 'true') { ?>
maintenance_mode = 1
<?php } ?>

<?php if (getenv('MATOMO_SALT')) { ?>
salt = "<?php echo getenv('MATOMO_SALT') ?>"
<?php } ?>

<?php if (getenv('MATOMO_HOST')) { ?>
trusted_hosts[] = <?php echo getenv('MATOMO_HOST') ?>
<?php } ?>

<?php if (getenv('MATOMO_MULTI_SERVER_ENVIRONMENT')) { ?>
multi_server_environment = <?php echo getenv('MATOMO_MULTI_SERVER_ENVIRONMENT') ?>
<?php } ?>

; maximum number of rows for any of the Referers tables (keywords, search engines, campaigns, etc.), and Custom variables names
<?php if (getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_REFERRERS')) { ?>
datatable_archiving_maximum_rows_referrers = <?php echo getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_REFERRERS') ?>
<?php } ?>
; maximum number of rows for any of the Referers subtable (search engines by keyword, keyword by campaign, etc.), and Custom variables values
<?php if (getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_SUBTABLE_REFERRERS')) { ?>
datatable_archiving_maximum_rows_subtable_referrers = <?php echo getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_SUBTABLE_REFERRERS') ?>
<?php } ?>

; maximum number of rows for any of the Actions tables (pages, downloads, outlinks)
<?php if (getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_ACTIONS')) { ?>
datatable_archiving_maximum_rows_actions = <?php echo getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_ACTIONS') ?>
<?php } ?>
; maximum number of rows for pages in categories (sub pages, when clicking on the + for a page category)
<?php if (getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_SUBTABLE_ACTIONS')) { ?>
datatable_archiving_maximum_rows_subtable_actions = <?php echo getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_SUBTABLE_ACTIONS') ?>
<?php } ?>

; maximum number of rows for any of the Events tables (Categories, Actions, Names)
<?php if (getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_EVENTS')) { ?>
datatable_archiving_maximum_rows_events = <?php echo getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_EVENTS') ?>
<?php } ?>
; maximum number of rows for sub-tables of the Events tables (eg. for the subtables Categories>Actions or Categories>Names).
<?php if (getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_SUBTABLE_EVENTS')) { ?>
datatable_archiving_maximum_rows_subtable_events = <?php echo getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_SUBTABLE_EVENTS') ?>
<?php } ?>

; maximum number of rows for the Site Search table
<?php if (getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_SITE_SEARCH')) { ?>
datatable_archiving_maximum_rows_site_search = <?php echo getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_SITE_SEARCH') ?>
<?php } ?>

; maximum number of rows for the User ID report
<?php if (getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_USERID_USERS')) { ?>
datatable_archiving_maximum_rows_userid_users = <?php echo getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_USERID_USERS') ?>
<?php } ?>

<?php if (getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_STANDARD')) { ?>
datatable_archiving_maximum_rows_standard = <?php echo getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_STANDARD') ?>
<?php } ?>

<?php if (getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_CUSTOM_DIMENSIONS')) { ?>
datatable_archiving_maximum_rows_custom_dimensions = <?php echo getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_CUSTOM_DIMENSIONS') ?>
<?php } ?>

<?php if (getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_SUBTABLE_CSTM_DIMENSIONS')) { ?>
datatable_archiving_maximum_rows_subtable_custom_dimensions = <?php echo getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_SUBTABLE_CSTM_DIMENSIONS') ?>
<?php } ?>

<?php if (getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_CUSTOM_VARIABLES')) { ?>
datatable_archiving_maximum_rows_custom_variables = <?php echo getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_CUSTOM_VARIABLES') ?>
<?php } ?>

<?php if (getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_SUBTABLE_CSTM_VARIABLES')) { ?>
datatable_archiving_maximum_rows_subtable_custom_variables = <?php echo getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_SUBTABLE_CSTM_VARIABLES') ?>
<?php } ?>

<?php if (getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_CUSTOM_REPORTS')) { ?>
datatable_archiving_maximum_rows_custom_reports = <?php echo getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_CUSTOM_REPORTS') ?>
<?php } ?>

<?php if (getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_SUBTABLE_CUSTOM_REPORTS')) { ?>
datatable_archiving_maximum_rows_subtable_custom_reports = <?php echo getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_SUBTABLE_CUSTOM_REPORTS') ?>
<?php } ?>

<?php if (getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_STANDARD')) { ?>
datatable_archiving_maximum_rows_standard = <?php echo getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_STANDARD') ?>
<?php } ?>

<?php if (getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_MEDIA')) { ?>
datatable_archiving_maximum_rows_media = <?php echo getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_MEDIA') ?>
<?php } ?>

<?php if (getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_SUBTABLE_MEDIA')) { ?>
datatable_archiving_maximum_rows_subtable_media = <?php echo getenv('MATOMO_DATATABLE_ARCHIVING_MAXIMUM_ROWS_SUBTABLE_MEDIA') ?>
<?php } ?>

<?php if (getenv('MATOMO_ARCHIVING_RANKING_QUERY_ROW_LIMIT_PRIMARY')) { ?>
  archiving_ranking_query_row_limit_primary = <?php echo getenv('MATOMO_ARCHIVING_RANKING_QUERY_ROW_LIMIT_PRIMARY') ?>
<?php } ?>

<?php if (getenv('MATOMO_ARCHIVING_RANKING_QUERY_ROW_LIMIT_SECONDARY')) { ?>
  archiving_ranking_query_row_limit_secondary = <?php echo getenv('MATOMO_ARCHIVING_RANKING_QUERY_ROW_LIMIT_SECONDARY') ?>
<?php } ?>

<?php if (getenv('MATOMO_MAINTENANCE') == 'true') { ?>
[Tracker]
record_statistics = 0
<?php } ?>
